/*product cards*/
.shop-content {
  grid-area: container;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   height: 420px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

.card > img {
  width: 90%;
  height: 250px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
  background-image: linear-gradient(to bottom, white, #444444, black);
  background-size: 100% 150%;
}

.card button:hover {
  opacity: 0.7;
}






