.grid{
    margin-top: 100px;
  align-items: center;
  display: grid;
  gap: 40px;
  grid-template-columns:repeat(auto-fill,300px);
  margin-left: 8em;
  margin-bottom: 40px;
  
}

.buybutton{
  border: none;
  text-decoration: none;
  outline: none;
  background-color: #f8f9fa;
}

.buybutton:hover{
  background-color: #f8f9fa;
  border-radius: 20px;
  color:#FF4000
}
.buton:hover{
  color:#000000
}

.MuiButtonBase-root{
  color:#000000
}

.css-et1ao3-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 800;
  font-size: 1.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  display: block;
}


/* .banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, 0.116); 
} */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  background-color: #f8f9fa; /* Color de fondo del banner */
}

.image-wrapper {
  width: 350px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.rounded-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-wrapper {
  text-align: center;
}

.text-wrapper h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #201E1F;
}

.text-wrapper p {
  font-size: 25px;
  color: #888888;
}

.contact-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FF4000; /* Color de fondo del botón */
  color: #ffffff; /* Color del texto del botón */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.contact-button:hover {
  background-color:#201E1F; /* Color de fondo del botón al pasar el cursor */
  color: #f8f9fa;
  transition: 0.5s ease-in-out;

}

