.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    gap: 100px;
  }
  
  .infoSection {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 300px;
    font-family: "Roboto";
    color: #201E1F;
    
  }
  
  .formSection {
    text-align: center;
    font-size: 2rem;
    font-weight: 300px;
    font-family: "Roboto";
    
  }
  
  .formGroup {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight:300;
    font-family: "Roboto";
    color: #201E1F;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  .address{
    padding: 20px;
    background-color: #FF4000;
    border-radius: 10px;
    
  }

  .infoAddress{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    color: aliceblue;
  }

  
  .formGroup input,
  .formGroup textarea {
    width: 500px;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btnSubmit {
    background-color: #FF4000;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 500;
  }

  .btnSubmit {
    width: 500px;
    font-size: 20px;
    font-weight:600;
    font-family: "Roboto";
    color: aliceblue;
    padding: 20px;
    border-radius: 5px;
  }

  .btnSubmit:hover{
    color: #201E1F;
    transition: ease-in-out 0.5s;
    cursor: pointer;
  }

  .inputText {
    color: #818181;
  }
  
  .socialMedia{
    color: white;

  }
  