input{
    text-decoration: none;
    color: aliceblue;
}

.classestoolbar:hover{
    color:#201E1F;
    transition: 0.3s ease-in;
}
    .classestoolbar{
        color: aliceblue;
    }

    .nameApp {
        text-decoration: none;
        color: aliceblue;

    }

.FavoriteIconHeader{
    color: white;
    margin-right: 10px;
}

  .FavoriteIconHeader:hover{
    color:black
  }
