/* .header {
    background-color: blue;
} */
.link{
    text-decoration: initial;
  color: rgb(0, 0, 0);
  
}
input{
    text-decoration: none;
    color: aliceblue;
}

.classestoolbar:hover{
    color:#201E1F;
    transition: 0.3s ease-in;
}
    .classestoolbar{
        color: aliceblue;
    }

.iconocarrito{
    text-decoration: none;
    color: white;
}    
  