html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    flex: 1;
    position: relative;
  
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .prueba{
   height: 800px;
  }



  .emptycart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Ajusta este valor según tu preferencia */
  }
  
  .emptycart h2 {
    font-size: 24px; /* Ajusta este valor según tu preferencia */
    color: #201E1F;
    font-weight: 300;
  }
  
  
  
  
  